#main {
  width: 500px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter", sans-serif;
  padding: 0px;
  margin: auto;
}

html,
body,
#container {
  height: 100%;
}

#container {
  text-align: center;
  
}

#hero {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #10b981;
  color: #ffffff;
  margin-bottom: 0px;
  padding: 20px;
}

#footer {
  background-color: #1f2937;
  padding: 10px 20px 10px 20px;
  padding-bottom: 30px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.show-result {
  height: 90px;
  padding: 5px 10px;
  margin-top: 20px;
  background-color: #273549;
  border-radius: 5px;
}

h1 {
  font-weight: 800px;
  font-size: 28px;
}

h2 {
  font-weight: 600px;
  font-size: 20px;
  color: #a7f3d0;
}

h3 {
  font-weight: 400px;
  font-size: 14px;
  color: #ffffff;
}

#input-el {
  text-align: center;
  width: 90px;
  height: 70px;
  font-weight: bolder;
  font-size: 58px;
  background-color: #10b981;
  color: #ffffff;
  border: 1px solid #059669;
  border-radius: 5px;
  padding: 0px 0px 2px 5px;
  margin-bottom: 10px;
}

button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500px;
  color: #3d3d3d;
  background-color: #ffffff;
  border: 2px solid #3d3d3d;
  border-radius: 6px;
  margin: 15px 0px 20px 0px;
  padding: 5px 20px;
}
